.book-list-item {
  display: flex;
  /* flex-direction: column; */
  width: 300px;
  margin: 15px 0;
  margin-right: 15px;
  box-shadow: 0 0 5px 1px rgba(235, 193, 58, .2);
}

.book-list-item .book-cover {
  flex-shrink: 0;
  width: 120px;
  margin-right: 30px;
}

.book-cover img {
  max-width: 100%;
}

.book-list-item .book-details {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: flex-start;
}

.book-details .book-title {
  font-size: 1.2rem;
  text-decoration: none;
}

.book-details .book-price {
  font-size: 1rem;
}

.book-details .book-author {
  font-size: 1rem;
}

.book-details button {
  margin-top: auto;
}