.shop-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.shop-header a {
  text-decoration: none;
}

.shop-header .logo {
  font-size: 3rem;
  padding-left: 1rem;
  text-decoration: none;
}

.shop-header .shopping-cart {
  align-self: center;
  font-size: 1.3rem;
  text-decoration: none;
  padding-right: 1rem;
}

.shopping-cart .cart-icon {
  font-size: 2.2rem;
  margin-right: 10px;
  color: cadetblue;
}
